<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tabs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="club" href="/tabs/club">
      <ion-icon name="home"></ion-icon>
      <ion-label>Club</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chats" href="/tabs/chats">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>

